.container{
    border-radius: var(--inner-radius);
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(var(--blur));
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 20% 1fr auto;
    grid-gap: 0.5rem 0; 
    grid-template-areas: 
      "title legend"
      "table table"
      "search add";
    padding: 2rem;
}

.title { 
    grid-area: title; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--dark-grey);
    font-family: 'Alata';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 1rem;
}

.legend { 
    grid-area: legend; 
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 1.5rem;
    padding-right: 3rem;
}

.legend h1{
    color: var(--dark-grey);
    text-align: right;
    font-family: 'Alata';
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-direction: row;
}

.table { 
    grid-area: table;
    overflow-y: auto;
}

.searchBar { 
    border-radius: 20px;
    border: 1px solid var(--white);
    display: flex;
    width: 70%;
    margin-top: 0.5rem;
}

.searchInput{
    font-family: 'Alata', Arial, Helvetica, sans-serif;
    background: none;
    border: none;
    font-size: 1.2rem;
    width: 85%;
}

.searchInput:focus{
    outline: none;
}

.searchIcon{
    content: url(../../ressources/icons/search.svg);
    transform: scale(0.5);
}

.addIngredient { 
    grid-area: add;
    justify-self: end;
    margin-top: 0.5rem;
    margin-right: 1.5rem;
    border-radius: 2rem;
    background: var(--button-gradient-blue);
    border: none;
    width: 50%;
    color: #FFF;
    text-align: center;
    font-family:'Alata', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.addIngredient:hover{
    outline: 2px solid var(--white);
    cursor: pointer;
}

.addIngredient:active{
    transform: translateX(1.5px) translateY(1.5px);
    box-shadow: inset 2px 2px 10px var(--blue);
}

::-webkit-scrollbar{
    width: 10px;
    scrollbar-width: thin;
}

::-webkit-scrollbar-track{
    background-color: var(--transparent-40);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.60);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--white);
    border-radius: 10px;
}


@supports (scrollbar-color: white grey){
    * {
        scrollbar-color: rgba(255, 255, 255, 0.60) var(--transparent-40);
        scrollbar-width: thin;
    }
}