:root{
    --radius-board: 3dvw;
     --board-margin: 5dvw;
     --board-padding: 1.5dvw;
     --black: #000000;
     --dark-grey: #1B1B1B;
     --light-grey: #8A8899;
     --light-grey-filter: invert(57%) sepia(9%) saturate(465%) hue-rotate(207deg) brightness(94%) contrast(84%);
     --white: #ffffff;
     --light-blue: #55AFEF;
     --blue: #4083E9;
     --inner-radius: calc(var(--radius-board) - var(--board-padding));
     --blur: 10px;
}

@font-face {
  font-family: "ADLaM";
  src: url('./ressources/fonts/ADLaMDisplay-Regular.ttf');
}

@font-face {
  font-family: "Alata";
  src: url('./ressources/fonts/Alata-Regular.ttf');
}