:root{
    --radius-board: 3rem;
     --board-margin: 15rem;
     --board-padding: 2rem;
     --black: #000000;
     --white: #ffffff;
     --light-blue: #55AFEF;
     --blue: #4083E9;
     --inner-radius: calc(var(--radius-board) - var(--board-padding));
     --blur: 10px;
}

@font-face {
  font-family: "ADLaM";
  src: url('./ressources/fonts/ADLaMDisplay-Regular.ttf');
}

@font-face {
  font-family: "Alata";
  src: url('./ressources/fonts/Alata-Regular.ttf');
}