:root{
    --radius-board: 3dvw;
     --board-margin: 5dvw;
     --board-padding: 1.5dvw;
     --black: #000000;
     --dark-grey: #1B1B1B;
     --light-grey: #8A8899;
     --white: #ffffff;
     --transparent-40: rgba(255, 255, 255, 0.40);
     --transparent-60: rgba(255, 255, 255, 0.60);
     --light-blue: #55AFEF;
     --blue: #4083E9;
     --inner-radius: calc(var(--radius-board) - var(--board-padding));
     --blur: 10px;
     --button-gradient: linear-gradient(90deg, #55AFEF 0%, #4083E9 100%);
     --white-gradient: linear-gradient(90deg, #FFF 0.15%, rgba(255, 255, 255, 0.80));
     --pink: #fd0061;
}

@font-face {
  font-family: "ADLaM";
  src: url('./ressources/fonts/ADLaMDisplay-Regular.ttf');
}

@font-face {
  font-family: "Alata";
  src: url('./ressources/fonts/Alata-Regular.ttf');
}